<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}Projeto BD - KONSENSO{% endblock %}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
          crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">KONSENSO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Dashboard</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="{{ url_for('novo_produto') }}">
                            <i class="fas fa-plus"></i> Novo Produto
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarProdutos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Produtos & Vendas
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarProdutos">
                            <li><a class="dropdown-item" href="{{ url_for('lista_produtos') }}">Produtos (Geral)</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('lista_vendas') }}">Vendas</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('lista_stock') }}">Stock</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url_for('lista_itens') }}">Itens</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarRH" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            RH & Pessoas
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarRH">
                            <li><a class="dropdown-item" href="{{ url_for('lista_clientes') }}">Clientes</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('lista_pessoas') }}">Pessoas</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url_for('lista_funcionarios') }}">Funcionários</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('lista_vendedores') }}">Vendedores</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('lista_cargos') }}">Cargos</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('lista_contratos_vendedor') }}">Contratos Vendedor</a></li>
                        </ul>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarLogistica" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Logística & Estrutura
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarLogistica">
                            <li><a class="dropdown-item" href="{{ url_for('lista_armazens') }}">Armazéns</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('lista_maquinas') }}">Máquinas</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('lista_lojas') }}">Lojas</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url_for('lista_empresas') }}">Empresas</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('lista_distribuidoras') }}">Distribuidoras</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('lista_distribuidoras_armazem') }}">Distr. Armazém</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarSuprimentos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Suprimentos
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarSuprimentos">
                            <li><a class="dropdown-item" href="{{ url_for('lista_fornecedores') }}">Fornecedores</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('lista_fabricas') }}">Fábricas</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url_for('lista_materias_primas') }}">Matéria Prima</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <main class="container mt-4">
        {% block content %}
        {% endblock %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
            crossorigin="anonymous"></script>
</body>
</html>